.login {
  &-box {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    background: white;
    margin: rem-calc(40) auto;
    padding: rem-calc(20);
    width: 300px;
  }

  .button[type=submit] {
    margin-bottom: 0;
  }
}
