.login {
  &__title {
    font-size: rem-calc(30);
    font-weight: bold;
    padding: rem-calc(40 0);
    text-align: center;
  }
  
  &__box {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    background: white;
    margin: auto;
    padding: rem-calc(20);
    width: 300px;
  }

  &__submit {
    margin-bottom: 0;
  }
}
